aniso8601==9.0.1
apispec==4.6.0
attrs==21.2.0
click==7.1.2
Flask==1.1.4
Flask-JWT-Extended==4.2.1
flask-marshmallow==0.14.0
flask-restx==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.1
psycopg2==2.8.6
PyJWT==2.1.0
pyrsistent==0.17.3
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.17
uWSGI==2.0.19.1
webargs==8.0.0
Werkzeug==1.0.1
